node_modules
*.iml
.idea
*.log*
.nuxt
.vscode
.DS_Store
coverage
dist
sw.*
.env
.output

# Local Netlify folder
.netlify

.content

.data
.wrangler

wrangler.toml

# Claude context files
.claude/context/

# Skilld references (recreated by `skilld install`)
.skilld

page-speed.dev
lighthouse
