@import 'tailwindcss' theme(static);
@import '@nuxt/ui';

@theme {
  --font-sans: 'Hubot Sans', sans-serif;
  --font-mono: 'Fira Code', monospace;

  --color-neutral-50: oklch(98.4% 0.003 285);
  --color-neutral-100: oklch(96.8% 0.007 285);
  --color-neutral-200: oklch(92.9% 0.013 285);
  --color-neutral-300: oklch(86.9% 0.022 285);
  --color-neutral-400: oklch(70.4% 0.04 285);
  --color-neutral-500: oklch(55.4% 0.046 285);
  --color-neutral-600: oklch(44.6% 0.043 285);
  --color-neutral-700: oklch(37.2% 0.044 285);
  --color-neutral-800: oklch(27.9% 0.041 285);
  --color-neutral-900: oklch(20.8% 0.042 285);
  --color-neutral-950: oklch(12.9% 0.042 285);
}

:root {
  --container-width: 90rem;
}

body {
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__nuxt {
  isolation: isolate;
}

html .light .shiki span {
  color: var(--shiki-light);
  background: var(--shiki-light-bg);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

html.light .shiki span {
  color: var(--shiki-light);
  background: var(--shiki-light-bg);
  font-style: var(--shiki-light-font-style);
  font-weight: var(--shiki-light-font-weight);
  text-decoration: var(--shiki-light-text-decoration);
}

html .default .shiki span {
  color: var(--shiki-default);
  background: var(--shiki-default-bg);
  font-style: var(--shiki-default-font-style);
  font-weight: var(--shiki-default-font-weight);
  text-decoration: var(--shiki-default-text-decoration);
}

html .shiki span {
  color: var(--shiki-default);
  background: var(--shiki-default-bg);
  font-style: var(--shiki-default-font-style);
  font-weight: var(--shiki-default-font-weight);
  text-decoration: var(--shiki-default-text-decoration);
}

html .dark .shiki span {
  color: var(--shiki-dark);
  background: var(--shiki-dark-bg);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}

html.dark .shiki span {
  color: var(--shiki-dark);
  background: var(--shiki-dark-bg);
  font-style: var(--shiki-dark-font-style);
  font-weight: var(--shiki-dark-font-weight);
  text-decoration: var(--shiki-dark-text-decoration);
}


:root {
  --scrollbar-track-light: #f1f1f1;
  --scrollbar-thumb-light: #888;
  --scrollbar-track-dark: #2c2c2c;
  --scrollbar-thumb-dark: #555;
}

html.light {
  --scrollbar-track: var(--scrollbar-track-light);
  --scrollbar-thumb: var(--scrollbar-thumb-light);
}

html.dark {
  --scrollbar-track: var(--scrollbar-track-dark);
  --scrollbar-thumb: var(--scrollbar-thumb-dark);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: .25rem;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(1rem);
  filter: blur(0.2rem);
}

.gradient {
  position: fixed;
  top: 25vh;
  width: 100%;
  height: 30vh;
  filter: blur(180px);
  z-index: -1;
  background: radial-gradient(50% 50% at 50% 50%, var(--ui-color-primary-100) 0%, var(--ui-color-primary-300) 100%);
  opacity: 0.75;
}

.dark .gradient {
  background: radial-gradient(50% 50% at 50% 50%, var(--ui-color-primary-900) 0%, var(--ui-color-primary-800) 100%);
  opacity: 0.1;
}

@keyframes slide-right {
  from {
    transform: scale(0.6) translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.slide-right {
  animation: slide-right 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

.pop {
  animation: pop 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

